<app-navbar></app-navbar>

<div *ngIf="erro" role="alert" class="toast toast-top toast-center">
    <div class="alert alert-error mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{erro}}</span>
    </div>
</div>

<div *ngIf="toast" class="toast toast-top toast-center">
    <div role="alert" class="alert alert-success">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Categoria Cadastrada com Sucesso!</span>
    </div>
</div>

<section class="p-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="lg:text-2xl text-xl font-bold text-primary">Minhas Categorias</h2>
        <button class="btn btn-accent font-bold" (click)="modal = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
            Nova Categoria
        </button>
    </div>

    <div *ngIf="carregando" class="flex justify-center items-center h-32">
        <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>

    <div *ngIf="categorias.length === 0 && !carregando" class="text-gray-500">Nenhuma categoria cadastrada.</div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div *ngFor="let categoria of categorias" class="card bg-base-200 shadow-md hover:shadow-lg transition">
            <div class="card-body hover:cursor-pointer" (click)="verCategoria(categoria.id)">
                <h3 class="card-title">{{ categoria.nome }}</h3>
            </div>
        </div>
    </div>
</section>

<div *ngIf="modal" class="fixed inset-0 flex items-center justify-center z-50 bg-black/30 backdrop-blur-sm">
    <div class="bg-base-200 p-6 rounded-2xl shadow-2xl w-full max-w-3xl mx-4">
        <h3 class="text-2xl font-semibold text-primary mb-4 tracking-wide">Nova Categoria</h3>

        <div class="mb-4">
            <input type="text"
                class="w-full p-3 border border-base-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition"
                placeholder="Digite o nome da categoria" [(ngModel)]="novaCategoria.nome" />
            <span *ngIf="erro" class="text-error text-sm">{{ erro }}</span>
        </div>

        <div class="flex justify-end gap-3 mt-4">
            <button class="btn btn-ghost btn-sm" (click)="modal = false">
                Cancelar
            </button>
            <button class="btn btn-primary btn-sm" (click)="cadastrarCategoria()">
                Salvar
            </button>
        </div>
    </div>
</div>